<%- include('./Layouts/header')%>

  <!--end::Sidebar-->
  <!--begin::App Main-->
  <main class="app-main">
    <!--begin::App Content Header-->
    <div class="app-content-header">
      <!--begin::Container-->
      <div class="container-fluid">

        <div style="width: 500px; height: 270px;">
          <h5 class="text-center">category chart </h5>
          <canvas id="budgetChart"></canvas>
        </div>
        <br><br>
        <div style="width: 500px; height: 270px;">
          <h5 class="text-center">blog chart </h5>
          <canvas id="budgetChart2"></canvas>
        </div>
       
        <!--begin::Row-->

        <!--end::App Content-->
  </main>
  <!--end::App Main-->
  <!--begin::Footer-->

  <%- include('./Layouts/footer')%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>

      let labelData = '<%- JSON.stringify(catdata) %>';
      let valueData = '<%- JSON.stringify(blogs) %>';

      const ctx = document.getElementById('budgetChart').getContext('2d');
      const budgetChart = new Chart(ctx, {
        type: 'bar',
        data: {
          labels: JSON.parse(labelData),
          datasets: [{
            label: 'Budget Breakdown',
            data: JSON.parse(valueData),
            backgroundColor: [
              'green', 'blue', 'orange', 'purple', 'teal', 'pink', 'red', 'grey', 'yellow'
            ]
          }]
        },
      });
    </script>
  
    <script>

      
      const ctx2 = document.getElementById('budgetChart2').getContext('2d');
      const budgetChart2 = new Chart(ctx2, {
        type: 'bar',
        data: {
          labels:  ['bjjjhlog'],
          datasets: [{
            label: 'blog',
            data: ['<%= dataofblog %>'],
            backgroundColor: [
              'green', 'blue', 'orange', 'purple', 'teal', 'pink', 'red', 'grey', 'yellow'
            ]
          }]
        },
      });
    </script>
  